/*
#1976d2 blue
#63a4ff light blue
#004ba0 dark blue
#dd2c00 red
#ff6434 light red
#a30000 dark red
*/

/* .App {
  text-align: center;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.sliders {
  display: flex;
  flex-direction: column;
}

.slider-label {
  height: 70px;
  padding: 20px 16px 0px 16px;
} */
