@import '_constant.less';
@import '_reset.less';


body {
    font-family: 'APPLESDGothicNEO-LIGHT', sans-serif;
}

a {
    text-decoration: none;
}

.profiles-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile-click {
  cursor: pointer;
}

.profile-images {
  height: 100px;
  width: 100px;
}

.App {
  text-align: center;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.sliders {
  display: flex;
  flex-direction: column;
}

.slider-label {
  height: 70px;
  padding: 20px 16px 0px 16px;
}
